<nav>
    <div id="navbar">
        <p> <i class="fas fa-code"></i> <a href="">Blog Site</a> </p>
        <p> <a href="/blogs">Home</a> </p>
        <p> <a href="/blogs/new">New Post</a> </p>
    </div>
</nav>