<%- include("./partials/header.ejs") %>
</head>
<body>
<%- include("./partials/navbar.ejs") %>
<h1 style="margin-top:30px; text-align: center;">PAGE NOT FOUND!</h1>
<%- include("./partials/footer.ejs") %>
    
